body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
  text-align: center;
  width: 90vw;
  height: 100vh;
}

.App div.container {
  width: 65%;
  height: 300px;
  -webkit-box-shadow: 4px 4px 11px 2px rgba(201, 201, 201, 1);
  -moz-box-shadow: 4px 4px 11px 2px rgba(201, 201, 201, 1);
  box-shadow: 4px 4px 11px 2px rgba(201, 201, 201, 1);
}